.container {
    position: relative;
    display: block;
    width: 100%;
    min-height: inherit;
}

.graph {
    position: absolute;
    top: -130px;
    left: 0;

    filter: blur(2px);
    z-index: -1;
}

.startContainer {
    background-color: rgba(202, 210, 224, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
    border-radius: 30px;
    margin-bottom: 50px;

    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
}

.startContainer h2 {
    margin: 10px 0 0 0;
}

.startContainer p {
    text-align: center;
}

.startButton {
    margin-bottom: 10px;
    padding: 15px 80px;
    border-radius: 16px;
    font-weight: 300;
}
